* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  background-color: hsl(0, 0%, 100%);
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 40px auto 40px;
}

nav{
  height: 100%;
  background-color: hsl(225, 100%, 98%);
  padding: 10px;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
}

main{
  margin-top: -40px;
}

.dark-mode {
  background-color: hsl(230, 17%, 14%);
}

.dark-mode .accountOwnersBlock:hover,
.dark-mode .accountOverview:hover {
  background-color: #1b1d26;
  opacity: 0.9;
  
}

.dark-mode hr{
  display: block;
  background-color: #ffffff;
}

.dark-mode .pageTitle h2,
.dark-mode .subTitle{
  color: hsl(0, 0%, 100%);
}

.dark-mode .numberOfSubscribers,
.dark-mode .rowNumbers {
 color:  hsl(225, 100%, 98%);
}
 
.dark-mode .accountOwnersBlock .followersText,
.dark-mode .pageTitle i,
.dark-mode .toggleText,
.dark-mode .username h4,
.dark-mode .rows .rowName{
  color:  hsl(228, 34%, 66%);
  
}

.dark-mode nav,
.dark-mode body,
.dark-mode .header,
.dark-mode .accountOwnersBlock,
.dark-mode .accountOverview {
  background: hsl(228, 28%, 20%);
}

.dark-mode .attribution { 
  color: hsl(228, 34%, 66%);
}

.dark-mode .attribution a {
   color: hsl(0, 0%, 100%); 
}

.dark-mode-switch button {
  position: relative;
  width: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  margin-left: 5px;
}

.switch-contain {
  position: absolute;
  top: -10px;
}

.switch {
  width: 40px;
  height: 20px;
  background-color:  hsl(228, 12%, 44%);
  border-radius: 20px;
  padding: 1px;
  transition: all 300ms ease-in-out;
}

.switch.active {
  background-image: linear-gradient(90deg, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

.switch.active .switch-btn {
  margin-left: 18.5px;
  transition: all 300ms ease-in-out;
}

.switch-btn {
  width: 19.5px;
  height: 17.5px;
  background-color:  hsl(0, 0%, 100%);
  border-radius: 50%;
}

.flex {
  display: flex;
  align-items: center;
}

.pageTitle h2 {
  font-size: 25px;
  font-weight: 700;
  color: hsl(0, 0%, 0%);
}

.pageTitle i {
  font-weight: 700;
  color: 	hsl(0, 0%, 50%);
}

hr {
  display: block;
  width: 100%;
  color: #373f62;
}

.darkModeToggle {
  display: flex;
  font-size: 25px;
  color: hsl(0, 3%, 71%);
}

.toggleText {
  font-size: 16px;
  margin-top: 12px;
  margin-left: 4px;
}

.accountOwnersBlock {
  max-width: 350px;
  min-width: 160px;
  margin: 0px auto 10px;
  padding: 35px;
  background-color: hsl(227, 47%, 96%);
  border-top: 5px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2rem;
}

.accountOwnersBlock:hover, .accountOverview:hover {
  background-color: #dddee6;
  opacity: 0.7;
}

.accountOwnersBlock .username {
  display: flex;
  flex-direction: row;
}

.username h4 {
  font-size: 14px;
  padding-left: 4px;
  margin-top: 6px;
}

.accountOwnersBlock .numberOfSubscribers {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 55px;
}

.accountOwnersBlock .followersText {
  font-size: 18px;
  font-weight: 400;
  color: hsl(0, 3%, 71%);
  letter-spacing: 2px;
  text-transform: uppercase;
}

 .icon-up {
  color: hsl(163, 72%, 41%);
  font-size: 12px;
}

.icon-down {
  color: hsl(356, 69%, 56%);
  font-size: 12px;
}

.icon {
  margin-bottom: 2px;
}

.facebookProfile {
  border-color: hsl(195, 100%, 50%);
}

.twitterProfile {
  border-color: hsl(203, 89%, 53%);
}
.insta-curve{
  max-width: 350px;
  min-width: 160px;
  margin: auto;
  height: 5px;
  background: linear-gradient(to right, hsl(37, 97%, 70%),  hsl(329, 70%, 58%));
  border-radius: 5%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.instagramProfile {
  border-top: 0px solid transparent;
  /* border-image: linear-gradient(to right, hsl(37, 97%, 70%),  hsl(329, 70%, 58%)); */
  /* border-image-slice: 1; */
}

.youtubeProfile {
  border-color: hsl(348, 97%, 39%);
}

.subTitle {
  color: hsl(0, 0%, 50%);
  margin-bottom: 20px;
  margin-top: 50px;
}

.accountOverview {
  max-width: 350px;
  min-width: 170px;
  height: 140px;
  margin: 0px auto 10px;
  background-color: hsl(227, 47%, 96%);
  border-radius: 5px;
  line-height: 1rem;
  padding: 20px;
}

.rows {
  display: flex;
  padding: 13px;
  justify-content: space-between;
}

.rows .rowName {
  color: hsl(0, 0%, 50%);
  font-weight: 700;
  font-size: 14px;
}

.rows .rowNumbers {
  font-size: 32px;
}


/* Media queries */
@media(min-width: 768px){
 .dark-mode hr {
    display: none;
  }

  hr{
    display: none;
  }
  main{
    margin-top: -40px;
  }

  header {
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 40px auto 70px;
  }
  
.pageTitle h2 {
  font-size: 28px;
  font-weight: 700;
  color: hsl(0, 0%, 0%);
}

.pageTitle i {
  font-weight: 700;
  color: 	hsl(0, 0%, 50%);
  margin-bottom: 30px;
}

.darkModeToggle {
  display: flex;
  margin-left: auto;
  font-size: 25px;
  color: hsl(0, 3%, 71%);
  /* margin-top: -140px; */
}

.toggleText {
  font-size: 14px;
  margin-top: 12px;
  margin-left: 4px;
}
}

.attribution { 
  font-size: 11px; 
  text-align: center;
  margin-bottom: 10px;
}

.attribution a {
   color: hsl(228, 45%, 44%); 
}