* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  background-color: hsl(0, 0%, 100%);
  cursor: pointer;
  
}

header {
  width: 100%;
  padding: 60px 20px;
  height: 100%;
  background-color: hsl(225, 100%, 98%);
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  
}

main{
  margin-top: -40px;
}

/* nav {
   
} */

.pageTitle h2 {
  font-size: 25px;
  font-weight: 700;
  color: hsl(0, 0%, 0%);
}

.pageTitle i {
  font-weight: 700;
  color: 	hsl(0, 0%, 50%);
}

hr {
  display: block;
  width: 100%;
  /* height: 10px; */
  color: #373f62;
}

.darkModeToggle {
  display: flex;
  margin-left: auto;
  font-size: 25px;
  color: hsl(0, 3%, 71%);
}

.toggleText {
  font-size: 14px;
  margin-top: 12px;
  margin-left: 4px;
}

.toggleIcon {
  top: 0;
  margin-top: 10px;
  margin-left: 10px;
}

.accountOwnersBlock {
  max-width: 350px;
  min-width: 160px;
  margin: 0px auto 10px;
  padding: 35px;
  background-color: hsl(227, 47%, 96%);
  border-top: 5px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2rem;
}

.accountOwnersBlock:hover, .accountOverview:hover {
  background-color: #373f62;
  opacity: 0.7;
  
}

.accountOwnersBlock .username {
  display: flex;
  flex-direction: row;
}

.username h4 {
  font-size: 14px;
  padding-left: 4px;
  margin-top: 6px;
}

.accountOwnersBlock .numberOfSubscribers {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 55px;
}

.accountOwnersBlock .followersText {
  font-size: 18px;
  font-weight: 400;
  color: hsl(0, 3%, 71%);
  letter-spacing: 2px;
  text-transform: uppercase;
}

 .icon-up {
  color: hsl(163, 72%, 41%);
  font-size: 12px;
  
}


.icon-down {
  color: hsl(356, 69%, 56%);
  font-size: 12px;
  
}

.icon {
  margin-bottom: 2px;
}

.facebookProfile {
  border-color: hsl(195, 100%, 50%);
}

.twitterProfile {
  border-color: hsl(203, 89%, 53%);
}

.instagramProfile {
  border-top: 5px solid transparent;
  border-image: linear-gradient(to right, hsl(37, 97%, 70%),  hsl(329, 70%, 58%));
  border-image-slice: 1;
 
}

.youtubeProfile {
  border-color: hsl(348, 97%, 39%);
}

.subTitle {
  color: hsl(0, 0%, 50%);
  margin-bottom: 20px;
  margin-top: 50px;
}

.accountOverview {
  max-width: 350px;
  min-width: 200px;
  height: 140px;
  margin: 0px auto 10px;
  background-color: hsl(227, 47%, 96%);
  border-radius: 5px;
  line-height: 1rem;
  padding: 20px;
}

.rows {
  display: flex;
  padding: 13px;
  justify-content: space-between;
}

.rows .rowName {
  color: hsl(0, 0%, 50%);
  font-weight: 700;
  font-size: 14px;
}

.rows .rowNumbers {
  font-size: 32px;
}


/* Media queries */
@media(min-width: 768px){
  hr {
    display: none;
  }
  main{
    margin-top: -20px;
  }
  nav {
    display: flex;
    /* margin: auto; */
    flex-direction: row;
    justify-content: center;  
  }
  
.pageTitle h2 {
  font-size: 28px;
  font-weight: 700;
  color: hsl(0, 0%, 0%);
}

.pageTitle i {
  font-weight: 700;
  color: 	hsl(0, 0%, 50%);
}

.darkModeToggle {
  display: flex;
  margin-left: auto;
  font-size: 25px;
  color: hsl(0, 3%, 71%);
}

.toggleText {
  font-size: 14px;
  margin-top: 12px;
  margin-left: 4px;
}

.toggleIcon {
  top: 0;
  margin-top: 10px;
  margin-left: 10px;
}
}


.attribution { 
  font-size: 11px; 
  text-align: center;
  margin-bottom: 10px;
}

.attribution a {
   color: hsl(228, 45%, 44%); 
}